<?php
return [
    'db_host' => 'localhost',
    'db_name' => 'asteriskcdrdb',
    'db_user' => 'freepbxuser',
    'db_pass' => '492771210fa3a3dc478adeb9403615e9',
    'api_key' => 'my-secret-key-123',
    'recordings_path' => '/var/spool/asterisk/monitor'
];
