<?php
return [
    'db_host' => 'localhost',
    'db_name' => 'asteriskcdrdb',
    'db_user' => 'freepbxuser',
    'db_pass' => '',
    'api_key' => '',
    'recordings_path' => '/var/spool/asterisk/monitor',
    'outgoing_path' =>  '/var/spool/asterisk/outgoing',
    'outgoing_temp_path' =>  '/tmp',
    'outgoing_context' =>  'from-internal'
];
